<!-- head tpl start -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Manager</title>
    <script></script>
    <style></style>
</head>
<body>
<div id="wrapper">
    <!-- head tpl end -->
    <!-- navigation tpl start -->
    <section id="head">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
    </section>
    <!-- navigation tpl end -->
    <!-- main tpl start -->
    <section id="main">
        <div class="content">
            <div class="box">
                <article>
                    <header><h1>Heading</h1></header>
                    <p>News article text</p>
                    <footer>written by Admin on 03.01.2015</footer>
                </article>
            </div>
        </div>
        <div class="sidebar">
            <!-- sidebar tpl start -->
            ...
            <!-- sidebar tpl ende -->
        </div>
    </section>
    <!-- main tpl end -->
    <!-- bottom tpl start -->
    <section id="bottom">
        <br/>
        <footer>
            Copyright &copy; {$year} by <a href="http://www.team-quantum.org/Team/PolluX" target="_blank">.PolluX</a>
        </footer>
    </section>
</div>
</body>
</html>
<!-- bottom tpl end -->